---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "$5",
    popular: false,
    features: [
      "Support ChatGPT Web",
      "Support ChatGPT API",
      "API context",
      "Switch models",
      "Welcome message",
      "30 day free trial",
    ],
    button: {
      text: "Free Trial",
      link: "https://chrome.google.com/webstore/detail/chatgpt-for-whatsapp/ajlcjjeepijhfbgkciegfdoklpcpmipk",
    },
  },
  {
    name: "Plus",
    price: {
      monthly: "$12",
    },
    popular: true,
    features: [
      "Everything in Free, and",
      "Define AI identity/role",
      "One-click Bot takeover",
      "Customize Default Prompt",
      "Customizable frequency",
      "Customizable queue",
      "7 day free trial",
    ],
    button: {
      text: "Get Started",
      link: "https://checkout.aoq.me",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "$20",
    },
    popular: false,
    features: [
      "Everything in Plus, and",
      "Support Bing Chat",
      "Support Google Bart",
      "Message rewrite",
      "Custom proxy server",
      "7 day free trial",
    ],
    button: {
      text: "Get Started",
      link: "https://checkout.aoq.me",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Get Started</Fragment>
      <Fragment slot="desc">Plans to fit your needs</Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-6 mx-auto max-w-screen-lg mt-24 rounded-lg">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
