---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "Free",
    popular: false,
    features: [
      "Supports ChatGPT",
      "Supports API",
      "API context",
      "Switch models",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Plus",
    price: {
      monthly: "$5",
    },
    popular: true,
    features: [
      "Everything in Free, and",
      "Define AI identity/role",
      "One-click Bot takeover",
      "Customizable frequency",
      "Customizable queue",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "$10",
    },
    popular: false,
    features: [
      "Everything in Plus, and",
      "Welcome message",
      "Default Prompt",
      "Custom proxy server",
      "Customize other requirements",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Get Started</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-6 mx-auto max-w-screen-lg mt-24 rounded-lg">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
