---
import Link from "./ui/link.astro";
---

<div class="mt-13.5 md:mt-21 relative rounded-lg overflow-hidde">
  <video
  width="100%"
  height="auto"
  autoplay
  muted
  loop
  playsinline
  >
  <source src="https://assets.bloop.ai/bloop_gpt4.mp4" type="video/mp4" />
</video>

</div>
